<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267432089630-7l8i0uoflpjuqa94abdj5mi6g2432m6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267432089630-7l8i0uoflpjuqa94abdj5mi6g2432m6v</string>
	<key>API_KEY</key>
	<string>AIzaSyDQE1t_cYAgpsf2TYE3AHKqnItRkpzqQw0</string>
	<key>GCM_SENDER_ID</key>
	<string>267432089630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajmeraclasses.ajmeraclassesapp</string>
	<key>PROJECT_ID</key>
	<string>ajmeraclasses-82744</string>
	<key>STORAGE_BUCKET</key>
	<string>ajmeraclasses-82744.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267432089630:ios:e3dd88b3ef289d42a8b60f</string>
</dict>
</plist>